.home {
  min-height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.home h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: bold;
  
}

.home p {
  font-size: 22px;
  margin-bottom: 30px;
}

.home button {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 14px 35px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.home button:hover {
  background-color: blue;
  transform: scale(1.05);
}