/* Register Main Container */

.register-container {

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    align-items: center;

    padding-top: 50px;

    background: #f1fff1;

}



/* Heading */

.register-container h2 {

    color: #2e7d32;

    font-size: 32px;

    font-weight: bold;

    margin-bottom: 25px;

}





/* Form Card */

.register-container form {

    width: 380px;

    padding: 30px;

    background: white;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

}





/* Inputs */

.register-container input,

.register-container select {

    width: 100%;

    padding: 12px;

    margin-bottom: 15px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 15px;

    outline: none;

}





.register-container input:focus,

.register-container select:focus {

    border-color: #4caf50;

    box-shadow: 0 0 5px rgba(76,175,80,0.5);

}





/* Password Container */

.password-box {

    position: relative;

    width: 100%;

}





.password-box input {

    width: 100%;

    padding-right: 75px;

    margin-bottom: 15px;

}





/* Show Password Button */

.show-password {

    position: absolute;

    right: 10px;

    top: 50%;

    transform: translateY(-50%);

    width: 55px !important;

    height: 30px;

    padding: 0 !important;

    border: none;

    border-radius: 6px;

    background: #4caf50 !important;

    color: white;

    font-size: 12px;

    font-weight: bold;

    cursor: pointer;

}





.show-password:hover {

    background: #2e7d32 !important;

}





/* Select Dropdown */

.register-container select {

    background: white;

    cursor: pointer;

}





/* Register Button */

.register-container form > button {

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 8px;

    background: #2e7d32;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;

}





.register-container form > button:hover {

    background: #1b5e20;

}





/* Mobile Responsive */

@media(max-width:500px){


    .register-container {

        padding-top: 30px;

    }



    .register-container form {

        width: 90%;

        padding: 20px;

    }



    .register-container h2 {

        font-size: 26px;

    }



}