nav {

  background-color: rgb(225, 152, 216);

  color: white;

  padding: 15px 30px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 20px;

  box-shadow: 0 3px 10px rgba(0,0,0,0.2);

}



nav h2 {

  color: white;

  font-size: 24px;

  margin-right: auto;

}



nav a {

  color: white;

  text-decoration: none;

  font-size: 17px;

  font-weight: bold;

  padding: 8px 15px;

  border-radius: 8px;

  transition: 0.3s;

}



nav a:hover {

  background-color: white;

  color: green;

}



/* Mobile Responsive */

@media(max-width:768px){


nav {

  flex-direction: column;

  text-align: center;

}


nav h2 {

  margin-right: 0;

}


nav a {

  width:100%;

}

}